*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-image: url(Fishy.jpg);
}

.topnav img {
    width: 100%;
    height: 160px;
    box-shadow: 0px 10px 12px 10px black;
}

h1 {
    margin-top: 45px;
    font-family: inherit;
    font-weight: 500;
    color: white;
    font-size: 2.2em;
    float: left;
    margin-right: 25%;
    margin-left: 10%;
    text-decoration: none;
}

.Filters {
    margin-top: -5px;
    display: block;
    background-color: rgba(31, 32, 32, 0.95);
    padding: 22px 5px 12px 8px;
    border-radius: 7px;
}

.dropbtn {
    background-color: rgb(25, 80, 75);
    color: white;
    font-size: 15px;
    font-family: inherit;
    padding: 13px;
    display: block;
    border-radius: 7px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-family: inherit;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    cursor: pointer;
}

.dropdown-content option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content option:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(81, 102, 114);
}

.location {
    float: right;
}

#text {
    padding: 6px;
    margin-top: 8px;
    margin-left: 5px;
    font-size: 17px;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 0px 16px 0px black;
    outline: none;
}

#submit {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    margin-left: -3.654654684648px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    outline: none;
}

#map {
    float: left;
    height: 65%;
    width: 65%;
    border: rgb(28, 96, 99, 95%) solid 8.5px;
    box-shadow: 0px 8px 16px 0px black;
    margin: 12px 4px 12px 12px;
    border-radius: 12px;
}

.sideCard {
    margin: 10px 8px 12px 22px;
    background-color: white;
    border-radius: 5px;
    border: black solid 1px;
    box-shadow: 0px 8px 16px 0px black;
    height: 70%;
    width: 22.055757487%;
    display: inline-block;
}

.sideCard h1 {
    color: black;
    float: right;
    font-weight: 900;
}

.sideCard p {
    color: black;
    float: none;
    display: inline-block;
    padding: 30px;
    word-wrap: normal;
    margin: 12px;
    font-size: 20px;
    max-height: 70%;
}

html,
body {
    min-height: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

footer {
    background-color: rgba(35, 36, 36, 0.95);
    padding: 13px;
    color: white;
    border-radius: 7px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}

footer a {
    text-decoration: underline;
    color: white;
}

.pictureSize {
    height: 100px;
    width: 175px;
}

@media (max-width: 375px) {
    body {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 375px) {
    .sideCard {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 375px) {
    .location {
        width: 100%;
        height: auto;
    }
}