*,
*::before,
*::after {
    box-sizing: border-box;
}

.topnav {
    display: flex;
    justify-content: left;
    background-color: black;
    height: 60px;
    width: auto;
}

.topnav a {
    padding: 20px 5px 0 5px;
    margin-left: 10px;
    color: blanchedalmond;
    background-color: rgb(31, 30, 30);
    column-count: 4;
}


/*.container {
    column-count: 5;
}*/

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.footer {
    grid-row-start: 2;
    grid-row-end: 3;
    height: 60px;
    width: auto;
}


/*font-size: 14px;
line-height: 20px;
color: #333;
font-family: Whitney,"Trebuchet MS",Arial,sans-serif;
white-space: nowrap;
box-sizing: border-box;
position: relative;
align-items: stretch;
display: inline-block;